<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900115746759-conprjsc496dq1mgsk3npajeqer3gvo5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900115746759-conprjsc496dq1mgsk3npajeqer3gvo5</string>
	<key>API_KEY</key>
	<string>AIzaSyAbMFtf8WyHS2gCUXccdMkHHEILhMIRPbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>900115746759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linkie.linkieMo</string>
	<key>PROJECT_ID</key>
	<string>hexa-linkie</string>
	<key>STORAGE_BUCKET</key>
	<string>hexa-linkie.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:900115746759:ios:778316de4b8cae575693e2</string>
</dict>
</plist>